*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background:  #202020;
	max-width: 100%;
	font-family: 'Raleway', sans-serif;
}
main{
	width: 1500px ;
	margin-left: auto;
    margin-right: auto;
}

ul{
    display: flex;
}
nav{
	margin-top: 30px;
}
header{
	background: #323232 ;
	height: 80px;
	margin: 0 0 50px 0 ;
}
.header-container{
	padding-bottom: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color:#ffffff;
    font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
    margin-right: 63px;
    padding: 27px 6px ;
	text-transform: uppercase;
}
.navigation{
	display: inline;
	
}
.logo{
	height: 40px;
	margin-top: 10px;
	padding-left: 40px;
}

.top-profile-container{
	position: relative;
	height: 490px;
	width: 1142px;
	padding: 0px 0px 250px 96px ;
	position: fixed;
	top: 210px;
	
}
.top-profile-left-container{
	position:absolute;
	top: 100px;
	display: inline;
	color: aliceblue;
	margin: 0 auto;
	box-sizing: border-box;	
	padding: 0 300px 0 0 ;

}

.top-profile-text-container h2{
	font-size: 60px;
	text-align: left;
	padding: 0 0 5px 0;
}
.top-profile-text-container-facts{
	position:relative ;
	top: auto 0;
	font-size: 30px;
	margin: 30px 0px ;
}


.top-profile-container-social-networks{
	position: relative;
	top:auto 0;
	display: block;
	margin: 30px auto;
	padding: 30px;

}
.top-profile-container-social-networks a{
	margin-left: 30px;
}

.top-profile-text-container-email-button{
	position:absolute;
	top: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 50px;

	background: #9D9D9D;
	font-size: 25px ;
	color: #ffffff;
	width: 400px;
	height: 64px;
	
}

.top-profile-right-container{
	position:relative ;
	top: 210px;
	display: inline;
	float: right;
	
	box-sizing:border-box;
}

.profile-foto-avatar img{
	position: absolute;
	top: 0 auto;
    transform:translate(-50%,-50%);
	height: 400px;
	width: 400px;
	border-radius: 50% !important;

	margin: 25px;
	top: 55px;
}

.featured-work{
	display: block;
	background-color: #9D9D9D;
	width: 30px;
	height: 10px;
}
